In [2]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

# conda install -c conda-forge python-levenshtein

# conda install -c conda-forge fuzzywuzzy

# !!! for R conda install -c ryanfortinoc r-fuzzywuzzyr !! If Windows - install.packages('fuzzywuzzyR')

In [3]:
# df1=pd.DataFrame({'ID':[56,98,175,172,150],
#                  'Name':['aaeessa', '1o7v9sM', 'HP. part 1', 'alena','Сахарный']})
df1 = pd.read_csv('data/dftocsv_date_sample.csv', usecols=['Модель'], dtype={'Модель': 'str'})

df2 = pd.read_excel('data/raw_x5_materials_sam.xlsx', usecols=['Краткий текст материала'], engine='openpyxl',dtype={'Краткий текст материала': 'str'})
df1 = df1.astype(str)
df2 = df2.astype(str)

df1.dropna(axis='index',how='any', inplace=True)
                                                  
df2.dropna(axis='index',how='any', inplace=True)

Функция **fuzz.ratio** – простое посимвольное сравнение. Рейтинг 100 только если строки полностью равны, любое различие уменьшает рейтинг, будь то знаки препинания, регистр букв, порядок слов и так далее

**fuzz.token_sort_ratio** решает эту проблему. Теперь акцент именно на сами слова, игнорируя регистр букв, порядок слов и даже знаки препинания по краям строки

**fuzz.token_set_ratio** пошла еще дальше: она игнорирует повторяющиеся слова, учитывает только уникальные.

**fuzz.partial_ratio** проверяет вхождение одной строки в другую. Лишние слова игнорируются, главное – оценить, чтобы ядро было одно и тоже.

метод **fuzz.WRatio** который работает ближе к человеческой логике, комбинируя несколько методов в один алгоритм в определенными весами (отсюда и название WRatio = Weighted Ratio).

In [4]:
df1.columns
df1.shape

(3000, 1)

In [5]:
df2.columns
df2.shape

(4438, 1)

In [37]:
matched_entities = []

for r in df1.index:
    name1 = df1._get_value(r,"Модель")
    for c in df2.index:
        name2 = df2._get_value(c,"Краткий текст материала")
        matched_token=fuzz.partial_ratio(name1,name2)
        if matched_token > 80:
            matched_entities.append([name1,name2])

df_partial_ratio = pd.DataFrame(columns=['magnit', 'x5'], data=matched_entities)

df_partial_ratio.sample(5)

               magnit                                        x5
79   Нож канцелярский               Нож канцелярский 18мм 'OF01
11             Плакат                       Плашка М10х1,25, шт
37        Дезинсекция  Дезинфекционн. коврик Эконом 50х65х1,5см
35             Плакат                          Плашка М36х2, шт
245           Шайба 6           Шайба 14*20 медная 10280060, шт

In [38]:
df_partial_ratio.shape # 80 %

(334, 2)

In [ ]:
# In your DB if fuzz.partial_ratio doesn't work try fuzz.ratio or fuzz.token_sort_ratio.
# These two can be implemented by changing one line of above code by below codes:

# matched_token=fuzz.ratio(name1,name2)  !!!
# OR

# matched_token=fuzz.token_sort_ratio(name1,name2)  !!

In [30]:
matched_entities = []

for r in df1.index:
    name1 = df1._get_value(r,"Модель")
    for c in df2.index:
        name2 = df2._get_value(c,"Краткий текст материала")
#         matched_token=fuzz.partial_ratio(name1,name2)
        matched_token=fuzz.ratio(name1,name2)
        
        if matched_token > 80:
            matched_entities.append([name1,name2])
            
            
df_ratio = pd.DataFrame(columns=['magnit', 'x5'], data=matched_entities)

df_ratio.head(5)

                    magnit                                 x5
0  Резинка банковская 100г  Резинка банковская 100г диам.60мм

In [35]:
df_ratio.shape

(1, 2)

In [6]:
matched_entities = []

for r in df1.index:
    name1 = df1._get_value(r,"Модель")
    for c in df2.index:
        name2 = df2._get_value(c,"Краткий текст материала")
#         matched_token=fuzz.partial_ratio(name1,name2)
        matched_token=fuzz.token_sort_ratio(name1,name2)
        if matched_token > 80:
            matched_entities.append([name1,name2])

            
df_sort_ratio = pd.DataFrame(columns=['magnit', 'x5'], data=matched_entities)

df_sort_ratio.head(5)

                    magnit                                 x5
0  Резинка банковская 100г  Резинка банковская 100г диам.60мм

In [34]:
df_sort_ratio.shape

(1, 2)

In [32]:
matched_entities = []

for r in df1.index:
    name1 = df1._get_value(r,"Модель")
    for c in df2.index:
        name2 = df2._get_value(c,"Краткий текст материала")
        matched_token=fuzz.partial_ratio(name1,name2)
        if matched_token > 65:
            matched_entities.append([name1,name2])

df_partial_ratio_65 = pd.DataFrame(columns=['magnit', 'x5'], data=matched_entities)

df_partial_ratio_65.sample(5)

          magnit                                       x5
12588  Плакат А4           Тетрадь 80л. клетка А4 ATTACHE
11422      Веник         Ценникодержатель зеленый 39х1000
8822      Плакат  1329833 / 2026123 Sc Втулка торм/рычага
15349     Плакат  Пасатижи в лонжете 3 предм КТ 9-40103GP
2474      Плакат         Папка с завязками 280г/м2 мелов.

In [33]:
df_partial_ratio_65.shape

(17160, 2)

###

In [41]:
#importing libraries
import numpy as np
import pandas as pd
import time

#creating four sample dataframes using dummy data
df1 = pd.DataFrame(np.random.randint(1, 1000, size =(10000000, 1)), columns =['A'])
df2 = pd.DataFrame(np.random.randint(1, 1000, size =(10000000, 1)), columns =['A'])
df3 = pd.DataFrame(np.random.randint(1, 1000, size =(10000000, 1)), columns =['A'])
df4 = pd.DataFrame(np.random.randint(1, 1000, size =(10000000, 1)), columns =['A'])

#applying astype(str)
time1 = time.time()
df1['A'] = df1['A'].astype(str)
print('time taken for astype(str) : ' + str(time.time()-time1) + ' seconds')

#applying values.astype(str)
time2 = time.time()
df2['A'] = df2['A'].values.astype(str)
print('time taken for values.astype(str) : ' + str(time.time()-time2) + ' seconds')

#applying map(str)
time3 = time.time()
df3['A'] = df3['A'].map(str)
print('time taken for map(str) : ' + str(time.time()-time3) + ' seconds')

#applying apply(str)
time4 = time.time()
df4['A'] = df4['A'].apply(str)
print('time taken for apply(str) : ' + str(time.time()-time4) + ' seconds')

time taken for astype(str) : 7.498556852340698 seconds
time taken for values.astype(str) : 6.256083011627197 seconds
time taken for map(str) : 2.3471829891204834 seconds
time taken for apply(str) : 2.3345823287963867 seconds