In [2]:
import pandas as pd
from fuzzywuzzy import process, fuzz

Использование пакета дедупликации pandas: https://pypi.org/project/pandas-dedupe/

Вам нужно обучить классификатор с помощью человеческого ввода, а затем он будет использовать изученную настройку для сопоставления всего фрейма данных.

сначала pip install pandas-dedupe и попробуйте это:

In [21]:
import pandas as pd
import pandas_dedupe

df1=pd.DataFrame({'ID':[56,98,175,172,150],
                 'Name':['aaeessa', '1o7v9sM', 'HP. part 1', 'alena','Сахарный']})

df2=pd.DataFrame({'ID':[12,76,762,2,160,6],
                 'Name':['H.P paRt 1', 'alena','ахар', 'aa3esza', 'stakoverfl ', 'lo7v9Sm']})


#initiate matching
# df_final = pandas_dedupe.link_dataframes(df1, df2, ['Name'])

# # reset index
# df_final = df_final.reset_index(drop=True)

# print result

# print(df_final)

# вы можете видеть, что совпадающим парам присваивается кластер и уровень достоверности.
# непревзойденные nan. Теперь вы можете анализировать эту информацию, как хотите. возможно,
# брать только результаты с уровнем достоверности, например, выше 80%.

In [22]:
# df.at[501,'column_name']
# df.get_value(501,'column_name')

matched_entities = []

for r in df1.index:
    name1 = df1._get_value(r,"Name")
    for c in df2.index:
        name2=df2._get_value(c,"Name")
        matched_token=fuzz.partial_ratio(name1,name2)
        if matched_token > 80:
            matched_entities.append([name1,name2])

df_partial_ratio = pd.DataFrame(columns=['A', 'B'], data=matched_entities)

# In your DB if fuzz.partial_ratio doesn't work try fuzz.ratio or fuzz.token_sort_ratio.
# These two can be implemented by changing one line of above code by below codes:

# matched_token=fuzz.ratio(name1,name2)  !!!
# OR

# matched_token=fuzz.token_sort_ratio(name1,name2)  !!

In [23]:
df_partial_ratio

          A      B
0     alena  alena
1  Сахарный   ахар

In [24]:
# []

def lookup(x, values):
    for value in values:
        if value.lower() in x.lower():
            return value
# Then apply this function to your DF2:

df2['Name'] = df2['Name'].apply(lambda x: lookup(x, df1['Name']))

In [25]:
df2

    ID   Name
0   12   None
1   76  alena
2  762   None
3    2   None
4  160   None
5    6   None